<header>
    <ul id="dropdown1" class="dropdown-content">
        <li><a (click)="onlogoutBtn()">Logout</a></li>
    </ul>
    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo">MoneyApp</a>
            <ul class="right hide-on-med-and-down">
                <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">{{username}}<i
                            class="material-icons right">arrow_drop_down</i></a></li>
            </ul>

        </div>
    </nav>
</header>